<h1>LinkedIN O-Auth</h1>

      <p>
        <a href="/auth/linkedin">Login</a>
      </p>

<h2>Loohk aht all deez errahs</h2>

<h3>{{message}}</h3>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
